body {
	
	background-color:grey;
	font-family:arial;
	color:white;
}

#menu{ width:100%;text-align:center;font-size:1.5em;}
#menu H1{color:#53CAEB;}
#menu HR{color:#53CAEB;}

a {text-decoration:none;color:white;}

a:hover {text-decoration:none;color:#53CAEB;}

